*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.glass
{
    min-height: 80vh;
    width: 50%;
    background: white;
    background: linear-gradient(to right bottom,
            rgb(255, 255, 255, .8),
            rgb(255, 255, 255, .3));
    border-radius: 2rem;
    z-index: 5;
    backdrop-filter: blur(1rem);
    display: flex;
    /* was given later for displaying contents by 2 parts */

}

.circle1,
.circle2
{
    background: rgb(255, 255, 255);
    background: linear-gradient(to right bottom,
            rgb(255, 255, 255, 1),
            rgb(255, 255, 255, .5));
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    z-index: 2;
}

.circle2
{
    top: 5%;
    left: 65%;
}

.circle1
{
    top: 65%;
    left: 20%;
}

.dashboard
{
    margin: 4rem 1.5rem 1.5rem 1.5rem;
    padding: 1rem;
    min-height: 50%;
    min-width: fit-content;
    transition: all .3s ease;
}

.user
{
    font-size: 1rem;
    width: fit-content;
}

.user p
{
    font-size: 1rem;
    text-align: center;
}

img
{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 20%;
}

.links
{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.links .link
{
    padding: 2rem 0;
    font-size: 18px;
    font-weight: bold;
}

.links .link a
{
    text-decoration: none;
    font-size: 1.1rem;
}

.courses
{
    margin: 4rem 0;
    width: fit-content;
    transition: all .3s ease;
}

.status-bar
{
    position: relative;
}

.status-bar input
{
    margin: 1rem 0;
    padding: 0 .4em;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: #3c848f;
    outline: none;
    width: 80%;
    height: 1.5em;
    position: relative;
}

.status-bar label
{
    left: .4em;
    padding: .8em 0;
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    transition: all .5s ease;
}

.status-bar input:focus ~ label
{
    transform: translateX(9.7em);
    opacity: .9;
}

.course
{
    padding: 1.2rem 0;
    font-size: 18px;
}

.course input
{
    width: 80%;
    /* height: 3em; */
}

@media screen and (max-width: 820px)
{
    .glass
    {
        flex-direction: column;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .courses
    {
        margin: .2rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }

    .course
    {
        min-width: 90%;
        margin-bottom: 10px;

    }

    .dashboard
    {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2rem 0 0 0;
    }

    .links
    {
        display: flex;
        flex-direction: row;
    }

    .link > a
    {
        margin: 0 .3rem;
        background-color: #05050513;
        border-radius: 5px;
        padding: 2px 10px;
        transition: all .3s ease;
    }

    .link > a:hover
    {
        background-color: #9998f3f8;
    }

    .status-bar input:focus ~ label
    {
        opacity: 0;
    }
}