/* reset all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --slite-dark-clr: hsl(0, 5%, 19%);

  --text-clr-light: hsl(0, 100%, 97%);
  --hero-text-gradient: linear-gradient(225deg, var(--text-clr-light), #99f309);
  --features-text-clr: hsl(73, 71%, 81%);
  /* bg colors */
  --header-bgclr: hsla(88, 37%, 90%, 0.75);
  --hero-bg-clr: hsla(117, 28%, 25%, 0.4);
  --features-bg-clr: hsl(72, 11%, 18%);

  --accent: hsl(41, 89%, 66%);
  --cta-shadow: hsl(118, 46%, 57%);

  --ff-stylish: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
  font-weight: 600;
  transition: 0.25s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

/* utility classes */
.container {
  max-width: 1200px;
  padding-inline: 1rem;
  /* overflow-x: hidden; */
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex-group {
  display: flex;
  align-items: center;
}

.button,
.know-more-btn {
  border: none;
  border-radius: 0.25rem;
  letter-spacing: 0.5px;
  font-size: 0.75rem;
}

.button a {
  display: inline-block;
  padding: 0.5rem 0.7rem;
  text-transform: uppercase;
  font: 600 0.75rem var(--ff-stylish), sans-serif;
}

/* Avoid duplicates */
.features .image-section::before,
.features-section::after,
.nav-links li::after {
  content: " ";
  position: absolute;
  left: 0;
}

nav,
.menu,
.menu .line,
.button,
.cta i {
  transition: 300ms ease;
}

.container,
.logo {
  margin: auto;
}

.menu {
  cursor: pointer;
}

/*! Starting from Mobile Devices */

body {
  color: var(--slite-dark-clr);
  font-family: var(--ff-stylish);
}

header {
  top: 0;
  position: sticky;
  z-index: 99;
  background-color: var(--header-bgclr);
  backdrop-filter: blur(3rem);
  box-shadow: 0 0 3px var(--cta-shadow);
}

/* header section */
.header-section {
  padding-block: 0.5rem;
}

.logo {
  width: fit-content;
}
.logo a {
  font-size: clamp(1.3rem, 6vw, 1.8rem);
  text-shadow: 0px 2px 0px #00ec31;
}
nav {
  /* most crucial */
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
}

/* when active */
nav.active {
  width: 55%;
  padding: 2rem;
  background: var(--features-bg-clr);
  backdrop-filter: blur(1rem);
}

.nav-links {
  /* centering the items for small screens */
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}

.nav-links,
.btns {
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 340ms;
}

nav.active .nav-links,
nav.active .btns {
  opacity: 1;
  transform: translate(0);
}

.nav-links li {
  padding: 0.35rem 0;
  position: relative;
}

/* Think carefully */
.btns {
  margin-top: 1rem;
}

.btns > * {
  margin-right: 6px;
  margin-bottom: 1rem;
}

/* login button */
.login-btn {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--features-text-clr);
}

.login-btn:hover {
  background: var(--features-text-clr);
  transform: translateY(-2px);
}

.login-btn:hover a {
  color: var(--slite-dark-clr);
}

/* style of nav links */
.nav-links a {
  letter-spacing: 1px;
  padding: 0.3rem 0;
  color: var(--text-clr-light);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.login-btn a {
  color: var(--text-clr-light);
}

/* lets give a hover effect */
.nav-links li::after {
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--accent);
  box-shadow: 0 0 .2rem #1aa607;
  border-radius: 0.3rem;
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-links li:hover::after {
  width: 100%;
}

/* Hero section starts */
section#home {
  background-color: var(--hero-bg-clr);
  overflow: hidden;
}

.hero-section {
  display: grid;
  place-items: center;
  height: 60vh;
}

.hero-image {
  inset: 0;
  z-index: -1;
}

.hero-contents {
  line-height: 1.5;
  text-align: center;
}

.hero-text {
  font-size: clamp(2rem, 8vw, 4.7rem);
  background: var(--hero-text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* follow me part */
.follow-me {
  bottom: 3rem;
  display: flex;
}

.follow-me a {
  color: var(--text-clr-light);
  font-size: 1.35rem;
  margin: 0.7rem;
}

.follow-me a:hover {
  color: var(--slite-dark-clr);
}

/* 2 rectangles over Hero-section*/
.hero-section .rect {
  z-index: -1;
  width: 40px;
  aspect-ratio: 1;
  border: 3px solid white;
  opacity: 0.5;
  border-radius: 0.25rem;
  animation: 6s linear infinite alternate;
}

.hero-section .rect:nth-of-type(1) {
  right: 3rem;
  top: 3rem;
  animation-name: move1;
}

.hero-section .rect:nth-of-type(2) {
  left: 3rem;
  bottom: 3rem;
  animation-name: move2;
}

@keyframes move1 {
  to {
    transform: translateY(400%) rotate(45deg);
  }
}

@keyframes move2 {
  to {
    transform: translateY(-400%) rotate(-45deg);
  }
}

/* features section */
section#features {
  background-color: var(--features-bg-clr);
}

.features-section {
  /* important */
  align-items: start;
  gap: 0.3rem;
  /* crucial part */
  flex-wrap: wrap;
  color: var(--features-text-clr);
}

.features_heading {
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 2rem;
}

.image-section img {
  border-radius: 0.3rem;
}

.features {
  /* important */
  max-width: 22rem;
  justify-content: space-between;
  flex-direction: column;
  margin-inline: auto;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--slite-dark-clr);
  border: 1px solid var(--cta-shadow);
}

.image-section img {
  transform-origin: center;
  box-shadow: 0 0 3rem rgb(255 255 255 /0.3);
}

.text-section {
  width: 100%;
  letter-spacing: 0.5px;
  line-height: 2;
  padding-block: 1rem;
}

.feature-two .text-section {
  order: 1;
}

.text-section .title {
  font-size: 1.1rem;
}

.text-section .description {
  line-height: 1.8;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  word-wrap: break-word;
}
.about-section,
.features-section,
.footer-section {
  padding-block: 2rem;
}

/* about section */
.about-section {
  line-height: 1.6;
  text-align: center;
}
.about-section h2 {
  padding-bottom: 1rem;
}
.about-section p {
  padding-inline: 0.65rem;
}
/*  footer section */
footer {
  background-color: var(--header-bgclr);
}

.footer-links {
  padding-bottom: 2rem;
  width: fit-content;
}

.footer-links li {
  padding: 0.3rem 0;
}

.footer-links a {
  border-radius: 3px;
  font-size: 1.3rem;
}

.footer-links a:hover {
  color: #000;
}

.footer-links:hover > *:not(:hover) {
  opacity: 0.3;
}

/* Media queries for big screens */
@media screen and (min-width: 460px) {
  .text-section .title {
    font-size: 1.3rem;
    padding-block: 0.75rem;
  }

  .text-section .description {
    padding-block: 0.95rem;
    line-height: 1.65;
    font-size: 0.965rem;
  }

  .features-section {
    display: flex;
  }
}

/* on Selection*/
::selection {
  background-color: orange;
  color: #fff;
}

/* menu styling starts */
.menu {
  width: 20px;
  height: 15px;
  z-index: 2;
  left: 1rem;
  top: 1rem;
  place-items: center;
  display: grid;
  border-radius: 0.2rem;
}

.menu .line {
  width: 18px;
  height: 2px;
  background-color: var(--features-text-clr);
  box-shadow: 1px 1px 1px #292929;
  transform: translate(0, var(--y, 0)) rotate(var(--r, 0));
}

.menu:hover .line {
  background-color: #181616;
  box-shadow: 1px 1px 1px #fff;
}

/* on activation */
.menu.active {
  left: 85%;
}

.menu.active .line {
  background-color: #ddd;
  transition-delay: 100ms;
}

.menu.active .line:nth-of-type(1) {
  --y: 6px;
  --r: -45deg;
}

.menu.active .line:nth-of-type(3) {
  --y: -4px;
  --r: 45deg;
}

.menu.active .line:nth-of-type(2) {
  width: 0;
}

.menu.active:hover {
  rotate: 90deg;
}

/* menu styling ends */

/* button section starts */

/* for both cta */
.cta {
  background-color: var(--accent);
  box-shadow: 0 0 5px var(--cta-shadow), 0 6px 3rem var(--cta-shadow),
    inset 0 0 0.4rem var(--text-clr-light);
}

/* CTA Hover State*/
.cta:is(:hover, :focus) {
  transform: translateY(-2px);
  background-color: var(--slite-dark-clr);
}

.cta:is(:hover, :focus) a {
  color: var(--text-clr-light);
}

.cta i {
  padding-inline: 3px;
}

.cta:is(:hover, :focus) i {
  transform: translate(20%);
}

/* know-more-btn */
.know-more-btn {
  padding: 0.25rem 0.6rem;
  border: 1px solid var(--cta-shadow);
}

.know-more-btn:hover {
  background-color: var(--features-text-clr);
  border-color: transparent;
  color: var(--slite-dark-clr);
}

@media screen and (min-width: 60rem) {
  .logo,
  .btns,
  .features {
    margin: 0;
  }

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-section {
    height: 80vh;
  }

  .follow-me {
    right: 10%;
    flex-direction: column;
  }
  /* rectangles part end */
  .features-section {
    flex-direction: column;
  }

  /** a slight vertical line */
  .features-section::after {
    top: 14%;
    left: 50%;
    background-color: var(--cta-shadow);
    opacity: 0.4;
    width: 1px;
    height: 84%;
    transform: translate(-50%, -5%);
  }

  .features {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
  }

  .feature-two .text-section {
    order: 0;
  }

  .features .image-section {
    display: grid;
    align-items: flex-start;
    max-width: 20rem;
    /* height: auto; */
    min-height: 240px;
    z-index: 1;
    position: relative;
  }

  /* 3 rotating rectangles */
  .features .image-section::before {
    z-index: -1;
    width: 60%;
    height: 100%;
    top: 0;
    left: -0.5rem;
    border: 1px solid var(--cta-shadow);
    opacity: 0.7;
    border-radius: 0.5rem;
    transform: rotate(-45deg);
    animation: rotate 4s infinite alternate;
  }

  @keyframes rotate {
    to {
      transform: rotate(25deg) translate(10%);
    }
  }

  .features .text-section {
    width: calc(40% - 10px);
  }

  nav {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  nav .nav-links {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background-color: transparent;
  }

  .nav-links a {
    color: var(--slite-dark-clr);
  }

  .nav-links,
  .btns {
    transform: translateX(0);
    opacity: 1;
  }

  .btns > * {
    margin: 0 0.5rem;
  }

  .login-btn {
    box-shadow: inset 0 0 0 2px var(--hero-bg-clr);
  }

  .login-btn:hover {
    background-color: var(--hero-bg-clr);
  }

  .login-btn:hover a {
    color: var(--text-clr-light);
  }

  .nav-links li.active::after {
    width: 100%;
  }

  .login-btn a {
    color: var(--slite-dark-clr);
  }

  nav .menu {
    display: none;
  }
}
