@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --primary-clr: hsl(288, 88%, 84%);
    --secondary-clr: linear-gradient(#ff9a9a, transparent);
    --tertiary-clr: hsl(113, 97%, 63%);
    --fw-light: 400;
    --fw-dark: 600;
    --ff-basic: 'Lucida Sans', Verdana, sans-serif;
    --ff-spacial: "Roboto", sans-serif;
}

/* utility class */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.flex-group {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}

.button {
    border: none;
    background: var(--secondary-clr);
    font-family: var(--ff-spacial);
    box-shadow: 0 2px .7rem rgb(0, 0, 0, .2);
    padding: .4rem .8rem;
    border-radius: .4rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease;
}

.button:hover {
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255);
}

/* main css */
body {
    font-family: var(--ff-basic);
    background-color: #fffdfd;
}

/* header section */
.header-section {
    justify-content: space-between;
    background: var(--secondary-clr);
    transition: .4s;
}

.logo h1 {
    cursor: pointer;
    color: transparent;
    letter-spacing: 1px;
    -webkit-text-stroke: 2px #333;
    transition: .4s ease;
}

.logo h1:hover {
    color: #111;
}

/* nav section */
nav {
    width: 70%;
}


.nav-links {
    padding-inline: .5rem;
    justify-content: space-between;
    list-style: none;
}

.nav-links li a {
    letter-spacing: 1.5px;
    color: #191919;
    text-transform: uppercase;
    font-weight: var(--fw-dark);
    padding-bottom: .35rem;
    font-family: var(--ff-spacial);
    position: relative;
}

/* styling the hover effect */
.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: .5rem;
    background-color: rgb(74, 255, 3);
    scale: 0;
    transition: .3s ease-in-out;
}

.nav-links li:is(.active, :hover, :focus) a::after {
    scale: 1;
}

/* media query for mobiles 📱 */
@media (max-width: 720px) {
    .header-section {
        position: relative;
    }

    nav {
        position: fixed;
        right: 0;
        z-index: 1;
    }

    .nav-links {
        /* position it */
        position: fixed;
        right: 0;
        top: 4px;
        width: 55%;
        height: 100vh;
        /* center the items */
        flex-direction: column;
        justify-content: center;
        gap: 2.75rem;
        /* style the background */
        background: rgb(0, 0, 0, .3);
        backdrop-filter: blur(1rem);
        border-radius: .4rem;
        /* translate it */
        transform: translateX(140%);
        transition: .3s ease-in-out;
    }

    .nav-links.active {
        box-shadow: -1rem 0 5rem rgba(0, 0, 0, 0.384);
        transform: translate(0);
    }

    .nav-links li a {
        color: #f7f7f7;
    }

    .nav-links li a:hover {
        color: #c8ff00;
    }
}

/* MENU SETTINGs */
.menu {
    margin-left: auto;
    margin-right: 1rem;
    width: 35px;
    height: 35px;
    /* center all lines */
    display: grid;
    place-items: center;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    transition: 300ms;
}

@media (min-width:720px) {
    .menu {
        display: none;
    }

    nav {
        width: 60%;
    }
}

.menu .line {
    width: 60%;
    height: 3px;
    position: absolute;
    background-color: #111;
    border-radius: 10px;
    transition: .3s;
}

.menu .line:nth-of-type(1) {
    transform: translateY(-7px);
}

.menu .line:nth-of-type(3) {
    transform: translateY(7px);
}

.menu:hover {
    background-color: hsl(106, 100%, 97%);
}

.menu.active .line:nth-of-type(1) {
    transform: rotate(135deg);
}

.menu.active .line:nth-of-type(3) {
    transform: rotate(-135deg);
}

.menu.active .line:nth-of-type(2) {
    transform: translate(-50%);
    opacity: 0;
}

/* Hero section */
.hero-section {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2em;
    /** typography */
    letter-spacing: 1.3px;
    font-family: 'Rubik', sans-serif;
    background: url(/Coding_images/Sunflower.jpg) center no-repeat;
    background-color: rgb(0, 0, 0, .35);
    border-radius: 0 0 .4rem .4rem;
    background-blend-mode: darken;
    color: #f4f4f4;
}

/** small devices:*/
/** hero font-size: 2rem -> 3rem*/
.heroText {
    font-size: 2.3rem;
    text-align: center;
}

/** small devices */
/** sub-hero font-size: 0.5 -> 1rem*/
.sub-heroText {
    font-size: .75rem;
    font-weight: var(--fw-light);
    max-width: 80%;
    text-align: center;
    line-height: 1.4;
}

/** Big devices */
@media screen and (min-width: 450px) {
    .hero-section {
        height: 90vh;
        gap: 2.1em;
    }

    /** hero font-size: 4rem -> 5rem*/
    .heroText {
        font-size: 3.75rem;
    }

    /** hero font-size: 1rem -> 1.1rem*/
    .sub-heroText {
        max-width: 70%;
        font-size: .85rem;
    }
}

/* CARDS SECTION */
.cards-section {
    /* background-image: url(/Coding_images/DeccentBg.jpg); */
    /* background-position: bottom; */
    background-color: #fde2d7;
    display: grid;
    gap: 1rem;
}

.card {
    padding: .65rem;
    margin: auto;
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .8));
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem rgb(0, 0, 0, .5);
    border-radius: 1rem;
    font-family: var(--ff-spacial);
    text-align: center;
}

.card-body {
    letter-spacing: .5px;
    font-size: .8rem;
    padding: 5px;
}

.card-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    transition: .3s ease;
}


.card-banner h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.card-text {
    padding-bottom: 1rem;
    text-align: center;
    padding-inline: 1rem;
}

/* card responsiveness */
@media (min-width: 580px) {

    /* Main Crucial part*/
    .cards-section {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 2.2rem;
        height: 90vh;
        overflow: scroll;
    }

    /** most fancy style 😍⭐⚡ */
    .cards-section:has(.card:hover) .card:not(:hover) {
        scale: .9;
    }

    .card {
        transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .card:hover {
        box-shadow: 0 0 1rem rgb(0, 0, 0, .2);
    }

    .card-banner h5 {
        font-size: 1rem;
    }
}

/* REAM-MORE BUTTON */
.read-more a {
    font-size: .7rem;
    color: #000;
    font-weight: var(--fw-dark);
    letter-spacing: 1px;
}

.read-more:hover {
    background-color: rgb(189, 189, 3);
    transition: .3s ease;
}

/* signup section */
.signup-section {
    text-align: center;
    display: grid;
    place-items: center;
    height: 20vh;
    background-color: #252525;
}

.signup-btn {
    background-color: rgb(221, 221, 3);
    box-shadow:
        0 0 3rem rgb(255, 255, 255, .6);
    position: relative;
    overflow: hidden;
}

.signup-btn a {
    font-size: .8rem;
    letter-spacing: 2px;
    color: #000;
    font-weight: var(--fw-dark);
    transition: .3s ease;
}

.signup-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(150%, -50%) rotate(360deg);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid black;
    opacity: 0;
}

.signup-btn:hover::before {
    opacity: .6;
    animation: rusher 2s ease infinite forwards;
}

@keyframes rusher {
    25% {

        transform: translate(200%, -50%);
    }

    50% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(750%, -50%);
    }
}

.heroText .inline-blocked {
    display: inline-block;
    opacity: 0;
    transform: translate(0, 50%);
}

.fadeText {
    animation: fade .5s cubic-bezier(0.23, 0.97, 0.7, 1.05) forwards;
}

@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
}

/** Scrollbar Modification for chrome and Firefox */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(255, 255, 255), rgb(104, 104, 252));
    border-radius: .4rem;
}

/* ::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 0, 54);
} */

@supports (scrollbar-color:inherit) {
    * {
        scrollbar-color: #8f538f #e7e1e1;
        scrollbar-width: 1px;
    }
}